In [1]:
from google.colab import drive
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [2]:
import pandas as pd

# if you want to upgrade the python version of colab to 3.8
!!! you need to restrat runtime and install torchtext 0.8.0 after upgrading the python version

In [ ]:
# !pip install kora
# import kora.install.py38

In [ ]:
!pip install -U torchtext==0.8.0

In [ ]:
!python -V

Python 3.8.3

In [ ]:
!pip list | grep torchtext

torchtext                          0.8.0

In [99]:
df = pd.read_csv("/content/gdrive/MyDrive/ci/train.csv", index_col=0)

In [100]:
from tqdm import tqdm

# preprocessing

In [ ]:
# !pip install hazm

In [84]:
from hazm import *

In [101]:
%%time
normalizer = Normalizer(remove_extra_spaces=True)
stemmer = Stemmer()
tokenizer = SentenceTokenizer()
lemmatizer = Lemmatizer()

for index, row in tqdm(df.iterrows()):
    s = row['Text']
    s = normalizer.punctuation_spacing(s)
    s = normalizer.character_refinement(s)
    s = lemmatizer.lemmatize(s)
    s = stemmer.stem(s)
    s = ' '.join(tokenizer.tokenize(s))
    for w in utils.stopwords_list():
        s.replace(w, ' ')
    s = normalizer.normalize(s)
    df.loc[index, 'Text'] = s

147547it [11:41, 182.20it/s]
147566it [11:42, 175.47it/s]
147593it [11:42, 195.67it/s]
147620it [11:42, 210.89it/s]
147643it [11:42, 201.55it/s]
147664it [11:42, 199.86it/s]
147689it [11:42, 211.54it/s]
147712it [11:42, 216.65it/s]
147737it [11:42, 223.82it/s]
147760it [11:42, 207.90it/s]
147784it [11:43, 212.51it/s]
147806it [11:43, 197.56it/s]
147827it [11:43, 192.70it/s]
147848it [11:43, 196.92it/s]
147870it [11:43, 203.07it/s]
147891it [11:43, 195.31it/s]
147911it [11:43, 169.80it/s]
147929it [11:43, 154.48it/s]
147949it [11:43, 165.72it/s]
147972it [11:44, 180.58it/s]
147992it [11:44, 167.45it/s]
148020it [11:44, 189.20it/s]
148048it [11:44, 209.03it/s]
148071it [11:44, 204.45it/s]
148093it [11:44, 203.35it/s]
148116it [11:44, 209.47it/s]
148138it [11:44, 201.60it/s]
148159it [11:44, 191.20it/s]
148179it [11:45, 183.70it/s]
148199it [11:45, 187.11it/s]
148219it [11:45, 185.55it/s]
148240it [11:45, 184.41it/s]
148259it [11:45, 180.42it/s]
148282it [11:45, 192.03it/s]
148304it [11:45, 198.83it/s]
148325it [11:45, 186.51it/s]
148344it [11:45, 184.84it/s]
148363it [11:46, 163.43it/s]
148385it [11:46, 176.77it/s]
148415it [11:46, 200.62it/s]
148438it [11:46, 208.07it/s]
148461it [11:46, 191.94it/s]
148482it [11:46, 191.48it/s]
148502it [11:46, 177.42it/s]
148521it [11:46, 170.49it/s]
148540it [11:47, 173.07it/s]
148560it [11:47, 179.08it/s]
148581it [11:47, 183.79it/s]
148608it [11:47, 202.75it/s]
148630it [11:47, 185.26it/s]
148652it [11:47, 193.69it/s]
148673it [11:47, 185.19it/s]
148693it [11:47, 188.44it/s]
148713it [11:47, 179.43it/s]
148733it [11:48, 182.86it/s]
148755it [11:48, 191.68it/s]
148781it [11:48, 208.08it/s]
148808it [11:48, 219.22it/s]
148831it [11:48, 208.87it/s]
148853it [11:48, 202.00it/s]
148874it [11:48, 191.43it/s]
148897it [11:48, 199.57it/s]
148919it [11:48, 198.98it/s]
148941it [11:49, 203.96it/s]
148962it [11:49, 198.53it/s]
148983it [11:49, 186.26it/s]
149002it [11:49, 182.33it/s]
149023it [11:49, 184.18it/s]
149042it [11:49, 178.81it/s]
149065it [11:49, 187.31it/s]
149084it [11:49, 173.17it/s]
149102it [11:49, 165.81it/s]
149123it [11:50, 176.53it/s]
149143it [11:50, 182.37it/s]
149162it [11:50, 177.83it/s]
149186it [11:50, 189.71it/s]
149206it [11:50, 189.63it/s]
149226it [11:50, 191.64it/s]
149249it [11:50, 200.65it/s]
149270it [11:50, 195.05it/s]
149291it [11:50, 198.64it/s]
149312it [11:51, 189.24it/s]
149333it [11:51, 193.46it/s]
149353it [11:51, 194.00it/s]
149373it [11:51, 194.72it/s]
149393it [11:51, 187.60it/s]
149419it [11:51, 204.15it/s]
149440it [11:51, 204.47it/s]
149461it [11:51, 204.06it/s]
149482it [11:51, 205.42it/s]
149503it [11:51, 193.34it/s]
149523it [11:52, 193.22it/s]
149543it [11:52, 183.19it/s]
149568it [11:52, 198.50it/s]
149589it [11:52, 194.71it/s]
149609it [11:52, 194.99it/s]
149633it [11:52, 205.68it/s]
149654it [11:52, 203.29it/s]
149675it [11:52, 195.01it/s]
149699it [11:52, 205.12it/s]
149720it [11:53, 198.72it/s]
149741it [11:53, 196.71it/s]
149763it [11:53, 201.56it/s]
149784it [11:53, 196.14it/s]
149806it [11:53, 198.58it/s]
149830it [11:53, 208.99it/s]
149852it [11:53, 200.43it/s]
149873it [11:53, 198.92it/s]
149895it [11:53, 204.48it/s]
149919it [11:54, 210.40it/s]
149943it [11:54, 217.90it/s]
149965it [11:54, 186.29it/s]
149985it [11:54, 187.11it/s]
150005it [11:54, 168.07it/s]
150025it [11:54, 174.19it/s]
150049it [11:54, 187.21it/s]
150096it [11:54, 209.93it/s]

CPU times: user 11min 26s, sys: 12.3 s, total: 11min 38s
Wall time: 11min 55s

In [102]:
df.to_csv("/content/gdrive/MyDrive/ci/mytrain.csv")

# set the train.csv and test.csv path on your mounted drive

In [3]:
trainPath = "/content/gdrive/MyDrive/ci/mytrain.csv"
testPath = "/content/gdrive/MyDrive/ci/test.csv"

In [4]:
df = pd.read_csv(trainPath, index_col=0)

In [5]:
df

                                                     Text                  Category
0       خبرنامه دانشگاه علم و صنعت ایران شماره یازدهم ...       Science and Culture
1       تا پایان سال ۱۳۷۸ دهها زمین فوتبال و سالن ورزش...                     Sport
2       انجمن تولیدکنندگان تجهیزات صنعت نفت تشکیل شد ن...                   Economy
3       کرتین برای سومین بار نخست وزیر کانادا شد ژان ک...  Miscellaneous.World News
4       خداحافظ رفقا نمایندگان اروپای شرقی در جام ۲۰۰۲...                     Sport
...                                                   ...                       ...
150091  مشکل بزرگ سدسازی وزیر نیرو: در کشور کمبود اعتب...             Miscellaneous
150092  خودسوزی یک هوادار پ ک ک در شهر دیاربکر ترکیه آ...  Miscellaneous.Happenings
150093  از نیمه دوم سال جاری در ۶۰۰ دستگاه اتوبوس کارت...       Miscellaneous.Urban
150094  در کتابخانه مرکز دانشگاه تهران و دانشکده هنرها...       Science and Culture
150095  پیام رئیس جمهوری به سران کشورهای عضو سازمان اس...                  Politics

[150096 rows x 2 columns]

In [6]:
df.insert(0, column="category", value=0 )
df['category'] = df.apply (lambda row: row["Category"], axis=1)
df.drop(columns=['Category'], inplace=True)

In [7]:
len(set(df['category']))

34

# Map classes strings to numbers

In [8]:
from sklearn.preprocessing import LabelEncoder  
le = LabelEncoder()
df['category'] = le.fit_transform(df['category'])

In [9]:
le.classes_

array(['Economy', 'Economy.Agriculture', 'Economy.Bank and Bourse',
       'Economy.Commerce', 'Economy.Dwelling and Construction',
       'Economy.Industry', 'Economy.Oil', 'Literature and Art',
       'Literature and Art.Art', 'Literature and Art.Art.Cinema',
       'Literature and Art.Art.Music', 'Literature and Art.Art.Theater',
       'Literature and Art.Literature', 'Miscellaneous',
       'Miscellaneous.Happenings', 'Miscellaneous.Islamic Councils',
       'Miscellaneous.Picture', 'Miscellaneous.Picture.Caricature',
       'Miscellaneous.Urban', 'Miscellaneous.World News',
       'Natural Environment', 'Politics', 'Politics.Iran Politics',
       'Science and Culture', 'Science and Culture.Science',
       'Science and Culture.Science.Book',
       'Science and Culture.Science.Information and Communication Technology',
       'Science and Culture.Science.Medicine and Remedy', 'Social',
       'Social.Religion', 'Social.Women', 'Sport', 'Sport.World Cup',
       'Tourism'], dtype=object)

In [10]:
df.to_csv("train.csv", header=None, index=False)

In [11]:
import torch
import torchtext
from torchtext.datasets import text_classification
import logging
from tqdm import tqdm

In [12]:
# have memory issue with ngrams > 2
NGRAMS = 2
BATCH_SIZE = 8
device = torch.device("cuda" if torch.cuda.is_available() else "cpu")

# functions needed to use neural network

In [13]:
def _split_tokenizer(x):
    return x.split()

In [14]:
import io
from torchtext.utils import unicode_csv_reader
from torchtext.data.utils import ngrams_iterator

def _csv_iterator(data_path, ngrams, yield_cls=False):
    # tokenizer = get_tokenizer("basic_english")
    tokenizer = _split_tokenizer
    with io.open(data_path, encoding="utf8") as f:
        reader = unicode_csv_reader(f)
        for row in reader:
            tokens = row[1]
            # print(tokens)
            tokens = tokenizer(tokens)
            if yield_cls:
                yield int(row[0]), ngrams_iterator(tokens, ngrams)
            else:
                yield ngrams_iterator(tokens, ngrams)

In [15]:
from torchtext.vocab import Vocab
def _create_data_from_iterator(vocab, iterator, include_unk):
    data = []
    labels = []
    with tqdm(unit_scale=0, unit='lines') as t:
        for cls, tokens in iterator:
            if include_unk:
                tokens = torch.tensor([vocab[token] for token in tokens])
            else:
                token_ids = list(filter(lambda x: x is not Vocab.UNK, [vocab[token]
                                        for token in tokens]))
                tokens = torch.tensor(token_ids)
            if len(tokens) == 0:
                logging.info('Row contains no tokens.')
            data.append((cls, tokens))
            labels.append(cls)
            t.update(1)
    return data, set(labels)

In [16]:
from torchtext.vocab import build_vocab_from_iterator
def _setup_datasets(root='.data', ngrams=1, vocab=None, include_unk=False):

    train_csv_path = "./train.csv"

    # create vocab
    logging.info('Building Vocab based on {}'.format(train_csv_path))
    vocab = build_vocab_from_iterator(_csv_iterator(train_csv_path, ngrams))
    logging.info('Vocab has {} entries'.format(len(vocab)))
    
    logging.info('Creating training data')
    train_data, train_labels = _create_data_from_iterator(
        vocab, _csv_iterator(train_csv_path, ngrams, yield_cls=True), include_unk)
    return text_classification.TextClassificationDataset(vocab, train_data, train_labels)

# create desired ngram dataset

In [17]:
train_dataset = _setup_datasets("./", ngrams=NGRAMS, vocab=None, include_unk=False)

150096lines [01:48, 1377.07lines/s]
150096lines [03:37, 688.98lines/s]

In [18]:
train_dataset

In [19]:
len(train_dataset.get_vocab())

11808699

In [20]:
len(train_dataset.get_labels())

34

In [21]:
len(train_dataset)

150096

In [22]:
device

device(type='cpu')

# main model

In [23]:
import torch.nn as nn
import torch.nn.functional as F
class TextSentiment(nn.Module):
    def __init__(self, vocab_size, embed_dim, num_class):
        super().__init__()
        self.embedding = nn.EmbeddingBag(vocab_size, embed_dim, sparse=True)
        self.fc = nn.Linear(embed_dim, num_class)
        self.init_weights()

    def init_weights(self):
        initrange = 0.5
        self.embedding.weight.data.uniform_(-initrange, initrange)
        self.fc.weight.data.uniform_(-initrange, initrange)
        self.fc.bias.data.zero_()

    def forward(self, text, offsets):
        embedded = self.embedding(text, offsets)
        return self.fc(embedded)

# more deeper model that performs not so good

In [24]:
# import math
# import torch
# import torch.nn as nn
# import torch.nn.functional as F

# class MyModel(nn.ModuleList):

#     def __init__(self, vocab_size, embed_dim, num_class):
#         super().__init__()

#         self.embedding = nn.EmbeddingBag(vocab_size, embed_dim, sparse=True)
#         # Dropout definition
#         # self.dropout = nn.Dropout(0.1)
#         # Fully connected layer definition
#         # self.fc1 = nn.Linear(embed_dim, 40)
#         self.fc = nn.Linear(embed_dim, num_class)

		
#     def init_weights(self):
#         initrange = 0.4
#         self.embedding.weight.data.uniform_(-initrange, initrange)
#         self.fc.weight.data.uniform_(-initrange, initrange)
#         self.fc.bias.data.zero_()
		
		
#     def forward(self, x, offsets):
#         x = self.embedding(x, offsets)

#         x1 = self.fc(x)
#         x1 = self.dropout(x1)

#         # x2 = self.fc(x1)
#         # out = self.dropout(x2)
#         # out = torch.sigmoid(out)
#         return out

In [25]:
# del model
# del scheduler
# del optimizer
# del criterion

# set the model params

In [26]:
VOCAB_SIZE = len(train_dataset.get_vocab())
EMBED_DIM = 32
NUN_CLASS = len(train_dataset.get_labels())
model = TextSentiment(VOCAB_SIZE, EMBED_DIM, NUN_CLASS).to(device)

In [27]:
def generate_batch(batch):
    label = torch.tensor([entry[0] for entry in batch])
    text = [entry[1] for entry in batch]
    offsets = [0] + [len(entry) for entry in text]
    offsets = torch.tensor(offsets[:-1]).cumsum(dim=0)
    text = torch.cat(text)
    return text, offsets, label

In [28]:
from torch.utils.data import DataLoader

def train_func(sub_train_):
    train_loss = 0
    train_acc = 0
    data = DataLoader(sub_train_, batch_size=BATCH_SIZE, shuffle=True,
                      collate_fn=generate_batch)
    for i, (text, offsets, cls) in enumerate(data):
        optimizer.zero_grad()
        text, offsets, cls = text.to(device), offsets.to(device), cls.to(device)
        output = model(text, offsets)
        loss = criterion(output, cls)
        train_loss += loss.item()
        loss.backward()
        optimizer.step()
        train_acc += (output.argmax(1) == cls).sum().item()

    scheduler.step()

    return train_loss / len(sub_train_), train_acc / len(sub_train_)

def test(data_):
    loss = 0
    acc = 0
    data = DataLoader(data_, batch_size=BATCH_SIZE, collate_fn=generate_batch)
    for text, offsets, cls in data:
        text, offsets, cls = text.to(device), offsets.to(device), cls.to(device)
        with torch.no_grad():
            output = model(text, offsets)
            loss = criterion(output, cls)
            loss += loss.item()
            acc += (output.argmax(1) == cls).sum().item()

    return loss / len(data_), acc / len(data_)

# run the model

In [30]:
import time
from torch.utils.data.dataset import random_split
N_EPOCHS = 15
min_valid_loss = float('inf')

criterion = torch.nn.CrossEntropyLoss().to(device)
optimizer = torch.optim.SGD(model.parameters(), lr=4.0)
scheduler = torch.optim.lr_scheduler.StepLR(optimizer, 1, gamma=0.9)

train_len = int(len(train_dataset) * 0.98)
sub_train_, sub_valid_ = \
    random_split(train_dataset, [train_len, len(train_dataset) - train_len])

for epoch in range(N_EPOCHS):

    start_time = time.time()
    train_loss, train_acc = train_func(sub_train_)
    valid_loss, valid_acc = test(sub_valid_)

    secs = int(time.time() - start_time)
    mins = secs / 60
    secs = secs % 60

    print('Epoch: %d' %(epoch + 1), " | time in %d minutes, %d seconds" %(mins, secs))
    print(f'\tLoss: {train_loss:.4f}(train)\t|\tAcc: {train_acc * 100:.1f}%(train)')
    print(f'\tLoss: {valid_loss:.4f}(valid)\t|\tAcc: {valid_acc * 100:.1f}%(valid)')



```
batch size = 8
EMBED_DIM = 32
train = 0.98
Epoch: 1  | time in 4 minutes, 13 seconds
	Loss: 0.0766(train)	|	Acc: 81.7%(train)
	Loss: 0.0004(valid)	|	Acc: 79.3%(valid)
Epoch: 2  | time in 4 minutes, 21 seconds
	Loss: 0.0583(train)	|	Acc: 86.1%(train)
	Loss: 0.0005(valid)	|	Acc: 83.8%(valid)
Epoch: 3  | time in 4 minutes, 25 seconds
	Loss: 0.0453(train)	|	Acc: 89.5%(train)
	Loss: 0.0005(valid)	|	Acc: 80.5%(valid)
Epoch: 4  | time in 4 minutes, 29 seconds
	Loss: 0.0355(train)	|	Acc: 92.0%(train)
	Loss: 0.0002(valid)	|	Acc: 83.7%(valid)
Epoch: 5  | time in 4 minutes, 23 seconds
	Loss: 0.0292(train)	|	Acc: 93.8%(train)
	Loss: 0.0010(valid)	|	Acc: 84.2%(valid)
Epoch: 6  | time in 4 minutes, 23 seconds
	Loss: 0.0232(train)	|	Acc: 95.5%(train)
	Loss: 0.0013(valid)	|	Acc: 83.8%(valid)
Epoch: 7  | time in 4 minutes, 22 seconds
	Loss: 0.0205(train)	|	Acc: 96.5%(train)
	Loss: 0.0007(valid)	|	Acc: 85.0%(valid)
Epoch: 8  | time in 4 minutes, 27 seconds
	Loss: 0.0169(train)	|	Acc: 97.3%(train)
	Loss: 0.0002(valid)	|	Acc: 84.9%(valid)
Epoch: 9  | time in 4 minutes, 20 seconds
	Loss: 0.0153(train)	|	Acc: 97.9%(train)
	Loss: 0.0006(valid)	|	Acc: 85.6%(valid)
Epoch: 10  | time in 4 minutes, 3 seconds
	Loss: 0.0125(train)	|	Acc: 98.3%(train)
	Loss: 0.0007(valid)	|	Acc: 85.5%(valid)
Epoch: 11  | time in 3 minutes, 56 seconds
	Loss: 0.0116(train)	|	Acc: 98.7%(train)
	Loss: 0.0008(valid)	|	Acc: 85.2%(valid)
Epoch: 12  | time in 4 minutes, 1 seconds
	Loss: 0.0102(train)	|	Acc: 98.9%(train)
	Loss: 0.0004(valid)	|	Acc: 85.3%(valid)
Epoch: 13  | time in 4 minutes, 3 seconds
	Loss: 0.0098(train)	|	Acc: 99.1%(train)
	Loss: 0.0005(valid)	|	Acc: 85.2%(valid)
Epoch: 14  | time in 4 minutes, 16 seconds
	Loss: 0.0091(train)	|	Acc: 99.2%(train)
	Loss: 0.0003(valid)	|	Acc: 85.8%(valid)
Epoch: 15  | time in 4 minutes, 11 seconds
	Loss: 0.0081(train)	|	Acc: 99.3%(train)
	Loss: 0.0005(valid)	|	Acc: 85.5%(valid)
```

In [ ]:
data_labels = dict()
for i,c in enumerate(le.classes_):
  data_labels[i] = c

In [ ]:
data_labels

{0: 'Economy',
 1: 'Economy.Agriculture',
 2: 'Economy.Bank and Bourse',
 3: 'Economy.Commerce',
 4: 'Economy.Dwelling and Construction',
 5: 'Economy.Industry',
 6: 'Economy.Oil',
 7: 'Literature and Art',
 8: 'Literature and Art.Art',
 9: 'Literature and Art.Art.Cinema',
 10: 'Literature and Art.Art.Music',
 11: 'Literature and Art.Art.Theater',
 12: 'Literature and Art.Literature',
 13: 'Miscellaneous',
 14: 'Miscellaneous.Happenings',
 15: 'Miscellaneous.Islamic Councils',
 16: 'Miscellaneous.Picture',
 17: 'Miscellaneous.Picture.Caricature',
 18: 'Miscellaneous.Urban',
 19: 'Miscellaneous.World News',
 20: 'Natural Environment',
 21: 'Politics',
 22: 'Politics.Iran Politics',
 23: 'Science and Culture',
 24: 'Science and Culture.Science',
 25: 'Science and Culture.Science.Book',
 26: 'Science and Culture.Science.Information and Communication Technology',
 27: 'Science and Culture.Science.Medicine and Remedy',
 28: 'Social',
 29: 'Social.Religion',
 30: 'Social.Women',
 31: 'Sport',
 32: 'Sport.World Cup',
 33: 'Tourism'}

# load test

In [ ]:
df = pd.read_csv(testPath, index_col=0)

In [ ]:
df

                                                    Text
Id
0      \nهفت اقليم \nآلودگي هوا پكن را تهديد مي كند \...
1      \nگل و گياه زعفران زينتي \nنام علمي: Crocus ba...
2      \nيادداشت \nقانون بودجه و صنايع كوچك \nدر شمار...
3      \nدر سالروز ميلاد حضرت مهدي \nهمايش ادبي دانش ...
4      \nاز IRA تا فارك \n بوگوتا، پايتخت پرهرج ومرج ...
...                                                  ...
16673  \nبراي ارتقاي كيفيت در بخش آموزش عالي \nوزارت ...
16674  \nديدار رهبر انقلاب اسلامي با \nگروهي از جوانا...
16675  \nبحران در دولت ائتلافي هند \nانشعاب در حزب اي...
16676  \nچرا به آثار باستاني خود خنجر؟ مي زنيم! \nآنط...
16677  \nيك استاد دانشگاه: قاچاق كالا ناشي ازضعف \nتو...

[16678 rows x 1 columns]

In [ ]:
df['Category'] = 0

In [ ]:
df

                                                    Text  Category
Id
0      \nهفت اقليم \nآلودگي هوا پكن را تهديد مي كند \...         0
1      \nگل و گياه زعفران زينتي \nنام علمي: Crocus ba...         0
2      \nيادداشت \nقانون بودجه و صنايع كوچك \nدر شمار...         0
3      \nدر سالروز ميلاد حضرت مهدي \nهمايش ادبي دانش ...         0
4      \nاز IRA تا فارك \n بوگوتا، پايتخت پرهرج ومرج ...         0
...                                                  ...       ...
16673  \nبراي ارتقاي كيفيت در بخش آموزش عالي \nوزارت ...         0
16674  \nديدار رهبر انقلاب اسلامي با \nگروهي از جوانا...         0
16675  \nبحران در دولت ائتلافي هند \nانشعاب در حزب اي...         0
16676  \nچرا به آثار باستاني خود خنجر؟ مي زنيم! \nآنط...         0
16677  \nيك استاد دانشگاه: قاچاق كالا ناشي ازضعف \nتو...         0

[16678 rows x 2 columns]

In [32]:
from hazm import *

In [34]:
%%time
normalizer = Normalizer(remove_extra_spaces=True)
stemmer = Stemmer()
tokenizer = SentenceTokenizer()
lemmatizer = Lemmatizer()

for index, row in tqdm(df.iterrows()):
    s = row['Text']
    s = normalizer.punctuation_spacing(s)
    s = normalizer.character_refinement(s)
    s = lemmatizer.lemmatize(s)
    s = stemmer.stem(s)
    s = ' '.join(tokenizer.tokenize(s))
    for w in utils.stopwords_list():
        s.replace(w, ' ')
    s = normalizer.normalize(s)
    df.loc[index, 'Text'] = s

In [ ]:
import re
from torchtext.data.utils import ngrams_iterator
from torchtext.data.utils import get_tokenizer

def predict(text, model, vocab, ngrams):
    tokenizer = _split_tokenizer
    with torch.no_grad():
        text = torch.tensor([vocab[token]
                            for token in ngrams_iterator(tokenizer(text), ngrams)])
        output = model(text, torch.tensor([0]))
        return output.argmax(1).item()

# predict test

In [ ]:
vocab = train_dataset.get_vocab()
model = model.to("cpu")
for index, row in df.iterrows():
    df.loc[index, 'Category'] = data_labels[predict(row['Text'], model, vocab, 1)]

In [ ]:
df

                                                    Text                  Category
Id
0      \nهفت اقليم \nآلودگي هوا پكن را تهديد مي كند \...       Miscellaneous.Urban
1      \nگل و گياه زعفران زينتي \nنام علمي: Crocus ba...             Miscellaneous
2      \nيادداشت \nقانون بودجه و صنايع كوچك \nدر شمار...                   Economy
3      \nدر سالروز ميلاد حضرت مهدي \nهمايش ادبي دانش ...       Science and Culture
4      \nاز IRA تا فارك \n بوگوتا، پايتخت پرهرج ومرج ...                  Politics
...                                                  ...                       ...
16673  \nبراي ارتقاي كيفيت در بخش آموزش عالي \nوزارت ...                   Economy
16674  \nديدار رهبر انقلاب اسلامي با \nگروهي از جوانا...                     Sport
16675  \nبحران در دولت ائتلافي هند \nانشعاب در حزب اي...  Miscellaneous.World News
16676  \nچرا به آثار باستاني خود خنجر؟ مي زنيم! \nآنط...             Miscellaneous
16677  \nيك استاد دانشگاه: قاچاق كالا ناشي ازضعف \nتو...                   Economy

[16678 rows x 2 columns]

In [ ]:
df.drop(columns=['Text'], inplace=True)

In [ ]:
df.head(10)

               Category
Id
0   Miscellaneous.Urban
1         Miscellaneous
2               Economy
3   Science and Culture
4              Politics
5              Politics
6               Economy
7   Miscellaneous.Urban
8   Miscellaneous.Urban
9         Miscellaneous

# save predictions

In [ ]:
df.to_csv("submition.csv")